
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #D9D1CF;
}

/*Hygears Description*/

@font-face {
    font-family: "InterRegular";
    src: url(../fonts/Inter/Inter_18pt-Regular.ttf);
}

.description{
    width:100%;
    height:40%;
    background-color: #D9D1CF;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin:8vh 0 8vh 0;
    align-content:center;
    justify-content: center;
}

.description-text{
    grid-column: span 4;
    margin:0 4em 0 4em;
}

.profile-pic-container{
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.profile-pic-image{
    width: 15vw;
    height:15.5vw;
}

.description-text p{
    color:#000000;
    font-family: "InterRegular";
    opacity:75%;
    font-size: 1.7vw;
    letter-spacing: 0.15vh;
    text-align: left;
}

/* Hygears Description*/


@font-face {
    font-family: InterMedium;
    src: url(../fonts/Inter/Inter_18pt-Medium.ttf);
}

.aboutUsTitle{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin:0 0 5% 0;
}

.aboutUsTitleTextContainer{
    background:#D9D1CF; 
    padding:0 3%;
}

.aboutUsTitleText{
    background-color: #601710;
    padding:0.2em 3em;
    border-radius: 0.5em;
    font-size: 2.25vw;
    font-family: "InterMedium";
    color: #D9D1CF;
}

@font-face {
    font-family: InterSemiBold;
    src: url(../fonts/Inter/Inter_18pt-SemiBold.ttf);
}

.projects-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectsActivitiesTitle{
    display: flex;
    justify-content: center;
    width: 44vw;
    background-color: #601710;
    margin-bottom: 5%;
    font-family: "InterSemiBold";
    font-size: 3vw;
    color: #fff;
    background-color: #601710;
    padding:2vh;
}

.project-item-left{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    margin-bottom: 2%;
    background-color: #D9D9D9;
}

.project-item-right{
    display: flex;
    align-items: center;
    text-align: right;
    flex-direction: row;
    margin-bottom: 2%;
    background-color: #D9D9D9;
}

.project-img-left{
    height:30%;
    width:30%;
    padding:0 2% 0 0;
}

.project-img-right{
    height:30%;
    width:30%;
    padding:0 0 0 2%;
}

@font-face {
    font-family: LexendSemiBold;
    src: url(../fonts/Lexend/Lexend-SemiBold.ttf);
}

.project-title{
    font-size: 2vw;
    font-family: "LexendSemiBold";
}

.project-description{
    font-size: 1.5vw;
    font-family: "InterRegular";
    opacity: 85%;
}

#p1 .project-description{
    margin:2vh 6vw 2vh 0;
}

.members-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vw;
    background-color: #601710;
    margin: 5% 0 5% 0;
    font-family: "InterSemiBold";
    font-size: 3vw;
    color: #fff;
    padding:2vh;
}

.membersDescription{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2%;
    background-color: #D9D1CF;
}

.membersDescriptionText{
    text-align:left;
    width:60%;
    font-size: 1.25vw;
    font-family: "InterRegular";
    opacity:85%;
    padding:0 0 0 5%;
    line-height:125%;
    letter-spacing: 0.15em;
}

.seeMembersButtonContainer{
    width:40%;
}

.seeMembersButton{
    background-color: #500000;
    width:21vw;
    height:10vh;
    font-size: 2.5vw;
    font-family: "InterRegular";
}

.seeMembersButton:hover{
    background-color: #fff;
    color:#500000;
}


/*Team Members*/

@font-face {
    font-family: ManropeBold;
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
}

.teamMembersTitle{
    display: flex;
    flex-direction: column;
    margin: 6vh;
    align-items: center;
}

.titleLine{
    background-color:#D73528;
    width: 70%;
    height:0.94vh;
}

.titleText{
    color:#000000;
    font-size: 4vh;
    font-family: "LexendBold";
}

.teamMembers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.programBox{
    height:37vh;
    width:26vh;
    border:3px solid#601710;
    margin:5.5vh;
    padding:3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.programBox p:not(.ElecAndComms){
    color:#000000;
    font-family: "ManropeBold";
    font-size: 2.7vh;
}

.ElecAndComms{
    color:#000000;
    font-family: "ManropeBold";
    font-size: 2vh;
}

.teamMembersDescription{
    margin-left:26vh;
    margin-right: 26vh;
    margin-top: 11vh;
    margin-bottom: 15vh;
}

.teamMembersDescription p{
    color:#000000;
    font-family: "InterRegular";
    opacity:75%;
    font-size: 3vh;
    letter-spacing: 0.15vh;
}
